.offers-wrap{
  max-width: 1200px;
  margin: 0 auto;

  width: 100%;
  padding: 0 12px;

}
.offers-table{
    border:width:1px;
    border-style:solid;
    border-color:#e5e7eb;
    width:100%;

    border-collapse: collapse;          /* makes borders look normal */

}

.storeWholeSalerContainer{

    margin-top:100px;
}

/* padding + borders for ALL cells (th and td) */
.offers-table th,
.offers-table td{
  padding: 12px 16px;
  border: 1px solid #e5e7eb;
}

/* zebra rows: co drugi produkt na szaro */
.offers-table tbody tr:nth-child(odd)  { background: white; }
.offers-table tbody tr:nth-child(even) {   background-color: #f3f4f6;}

.offers-table thead th{
    background-color:#e0e0e0;
    font-weight: bold; /* This makes the text bold */
}

.qty-input{
  width: 55px;
  padding: 2px 4px;
  font-size: 0.9rem;
  text-align: center;
}

.buy-btn{
background-color:#0066cc;
color:white;
}

.top-link{
display:block;
    margin-bottom:10px;
}

.pager{
    display:flex;
    justify-content:center;
}