version: '3.8'

services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: ${WHOLESALER_STORE_DATABASE_PASSWORD}
      MYSQL_DATABASE: warehouseManagementDB
      MYSQL_USER: ${WHOLESALER_STORE_DATABASE_USERNAME}
      MYSQL_PASSWORD: ${WHOLESALER_STORE_DATABASE_PASSWORD}
    ports:
      - "3333:3306"   # host port 3333 mapped to container port 3306
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    networks:
      - micro_net
    restart: unless-stopped

  eureka-server:
    image: pamix2004/eureka-server-dockerfile:latest
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - micro_net
    restart: unless-stopped

  cloud-gateway:
    image: pamix2004/cloud-gateway-dockerfile:latest
    container_name: cloud-gateway
    environment:
      - eureka.client.serviceUrl.defaultZone=http://eureka-server:8761/eureka/
      # Spring SSL Configurations
      - SERVER_PORT=8085
    ports:
      - "8085:8085"
    volumes:
      - ./keystore.p12:/app/keystore.p12 # Map your local cert to the container
    networks:
      - micro_net
    depends_on:
      - eureka-server

  auth-service:
    image: pamix2004/auth-service-dockerfile:latest
    container_name: auth-service
    environment:
      - spring.application.name=auth-service
      - eureka.client.serviceUrl.defaultZone=http://eureka-server:8761/eureka/
      - spring.datasource.url=jdbc:mysql://mysql-db:3306/warehouseManagementDB
      - spring.datasource.username=${WHOLESALER_STORE_DATABASE_USERNAME}
      - spring.datasource.password=${WHOLESALER_STORE_DATABASE_PASSWORD}
      - spring.jpa.hibernate.ddl-auto=update
      - app.secretKey=${SECRET_KEY}
    ports:
      - "8080:8080"
    networks:
      - micro_net
    depends_on:
      - eureka-server
      - mysql-db
    restart: unless-stopped

  jwt-service:
    image: pamix2004/jwt-service-dockerfile:latest
    container_name: jwt-service
    environment:
      - spring.application.name=jwt-service
      - eureka.client.serviceUrl.defaultZone=http://eureka-server:8761/eureka/
      - app.secretKey=${SECRET_KEY}
    ports:
      - "8082:8082"
    networks:
      - micro_net
    depends_on:
      - eureka-server
    restart: unless-stopped

  offer-service:
    image: pamix2004/offer-service-dockerfile:latest
    container_name: offer-service
    environment:
      - spring.application.name=offer-service
      - eureka.client.serviceUrl.defaultZone=http://eureka-server:8761/eureka/
      - spring.datasource.url=jdbc:mysql://mysql-db:3306/warehouseManagementDB
      - spring.datasource.username=${WHOLESALER_STORE_DATABASE_USERNAME}
      - spring.datasource.password=${WHOLESALER_STORE_DATABASE_PASSWORD}
      - spring.jpa.hibernate.ddl-auto=validate
      - app.secretKey=${SECRET_KEY}
      - eureka.instance.hostname=offer-service
    ports:
      - "8083:8083"
    networks:
      - micro_net
    depends_on:
      - eureka-server
      - mysql-db
    restart: unless-stopped

  payment-service:
    image: pamix2004/payment-service-dockerfile:latest
    container_name: payment-service
    environment:
      - spring.application.name=payment-service
      - eureka.client.serviceUrl.defaultZone=http://eureka-server:8761/eureka/
      - spring.datasource.url=jdbc:mysql://mysql-db:3306/warehouseManagementDB
      - spring.datasource.username=${WHOLESALER_STORE_DATABASE_USERNAME}
      - spring.datasource.password=${WHOLESALER_STORE_DATABASE_PASSWORD}
      - spring.jpa.show-sql=true
      - spring.jpa.generate-ddl=true
      - spring.jpa.hibernate.ddl-auto=update
      - app.secretKey=${SECRET_KEY}
      - app.stripeTestSecretKey=${STRIPE_TEST_SECRET_KEY}
      - app.stripeEndpointSecret=${STRIPE_ENDPOINT_SECRET}
      - eureka.instance.hostname=payment-service
      - app.base-url=http://localhost:8085

    ports:
      - "8090:8090"
    networks:
      - micro_net
    depends_on:
      - eureka-server
      - mysql-db
    restart: unless-stopped

  email-service:
    image: pamix2004/email-service-dockerfile:latest
    container_name: email-service
    environment:
      - spring.application.name=email-service
      - server.port=8081
      - eureka.client.serviceUrl.defaultZone=http://eureka-server:8761/eureka/
      - app.secretKey=${SECRET_KEY}
      - spring.mail.host=smtp.gmail.com
      - spring.mail.port=587
      - spring.mail.username=${MAIL_USERNAME}
      - spring.mail.password=${MAIL_PASSWORD}
      - spring.mail.properties.mail.smtp.auth=true
      - spring.mail.properties.mail.smtp.starttls.enable=true
      - spring.mail.properties.mail.debug=true
      - eureka.instance.hostname=email-service
    ports:
      - "8081:8081"
    networks:
      - micro_net
    depends_on:
      - eureka-server
    restart: unless-stopped

  stripe-cli:
    image: stripe/stripe-cli:latest       # Use the prebuilt Stripe CLI image
    container_name: stripe-cli
    command: listen --forward-to http://cloud-gateway:8085/payment/stripeWebhook
    environment:
      - STRIPE_API_KEY=${STRIPE_TEST_SECRET_KEY}   # Use your test secret key
    networks:
      - micro_net
    restart: unless-stopped

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro  # Put your certs in a folder named 'certs'
    networks:
      - micro_net
    depends_on:
      - cloud-gateway

networks:
  micro_net:
    driver: bridge

volumes:
  db_data: