<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" th:href="@{/offer/css/offers.css}">
</head>
<body>

<a href="/auth/login">Back</a>

<div>
    Hello, <span th:text="${email}"></span>. Your id is:
    <span th:text="${id}"></span>
    <br>You are a <span th:text="${role}"></span> named <span th:text="${est_name}"></span>
    located on: <span th:text="${address}"></span>
</div>

<div th:if="${role} == 'wholesaler'">
    <h2>My offers</h2>

    <table border="1">
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Available quantity</th>
            <th>Minimal quantity</th>
        </tr>

        <a href="/offer/wholesaler/orders">Orders for my offers</a>
        <br><br>

        <tr th:each="offer : ${offers}">
            <td th:text="${offer.product.name}"></td>
            <td th:text="${offer.price}"></td>
            <td th:text="${offer.available_quantity}"></td>
            <td th:text="${offer.minimal_quantity}"></td>
        </tr>
    </table>

    <h2>Add offer</h2>

    <form th:action="@{/offer/account/add}"
          th:object="${offerForm}"
          method="post">

        <h3>Select product</h3>
        <select id="productSelect" th:field="*{productId}">
            <option value="">-- new product --</option>
            <option th:each="p : ${products}"
                    th:value="${p.id}"
                    th:text="${p.name}">
            </option>
        </select>

        <div id="newProductSection" style="display: none;">
            <h3>New product</h3>

            <label>Name of the product:</label>
            <input type="text" th:field="*{productName}" />

            <label>Producer:</label>
            <select th:field="*{producerId}">
                <option value="">-- select producer --</option>
                <option th:each="prod : ${producers}"
                        th:value="${prod.id}"
                        th:text="${prod.producer_name}">
                </option>
            </select>

            <label>Category:</label>
            <select th:field="*{categoryId}">
                <option value="">-- select category --</option>
                <option th:each="cat : ${categories}"
                        th:value="${cat.id}"
                        th:text="${cat.name}">
                </option>
            </select>
        </div>

        <br>

        <label>Price:</label>
        <input type="number" step="0.01" th:field="*{price}" required />
        <br>

        <label>Available quantity:</label>
        <input type="number" th:field="*{available_quantity}" required />
        <br>

        <label>Minimal quantity:</label>
        <input type="number" th:field="*{minimal_quantity}" required />
        <br>

        <button type="submit">Add offer</button>

    </form>
</div>

<div th:if="${role} == 'store'">
    <h2>Available offers</h2>

    <table border="1">
        <tr>
            <th>Product</th>
            <th>Wholesaler</th>
            <th>Price</th>
            <th>Available quantity</th>
            <th>Minimal quantity</th>
            <th>Buy</th>
        </tr>

        <a href="/offer/orders">My orders</a>
        <br><br>

        <tr th:each="offer : ${offers}">
            <td th:text="${offer.product.name}"></td>
            <td th:text="${offer.wholesaler.name}"></td>
            <td th:text="${offer.price}"></td>
            <td th:text="${offer.available_quantity}"></td>
            <td th:text="${offer.minimal_quantity}"></td>

            <td>
                <form th:action="@{/offer/purchase}" method="post">
                    <input type="hidden" name="offerId" th:value="${offer.id}" />

                    <input type="number"
                           name="quantity"
                           min="1"
                           required />

                    <button type="submit">Buy</button>
                </form>

            </td>
        </tr>
    </table>
</div>

</body>
</html>

<script>
    const productSelect = document.getElementById('productSelect');
    const newProductSection = document.getElementById('newProductSection');

    function clearNewProductFields() {
        document.querySelector('[name="productName"]').value = '';
        document.querySelector('[name="producerId"]').value = '';
        document.querySelector('[name="categoryId"]').value = '';
    }
    function toggleNewProductFields() {
        if (productSelect.value === "") {
            newProductSection.style.display = 'block';
        } else {
            newProductSection.style.display = 'none';
            clearNewProductFields();
        }
    }

    // initial state (on page load)
    toggleNewProductFields();

    // on change
    productSelect.addEventListener('change', toggleNewProductFields);
</script>