<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Orders for my offers</title>
  <link rel="stylesheet" th:href="@{/offer/css/offers.css}">
</head>
<body>

<h2>Orders for my offers</h2>

<table border="1">
  <tr>
    <th>Order ID</th>
    <th>Store</th>
    <th>Date</th>
    <th>Order Status</th>
      <th>Payment Status</th>
    <th>Total price</th>
    <th>Details</th>
    <th>Change status</th>
  </tr>

  <tr th:each="order : ${orders}">
      <td th:text="${order.id}"></td>

      <td th:text="${order.storeName}"></td>

      <td th:text="${order.orderDate}"></td>

      <td th:text="${order.Status}"></td>
      <td th:text="${order.paymentStatus}"></td>

      <td th:text="${order.totalPrice}"></td>

      <td>
          <a th:href="@{/offer/orders/{id}(id=${order.id})}">
              <button type="button">Details</button>
          </a>
      </td>

    <td>
      <form th:action="@{/offer/wholesaler/orders/status}" method="post">

        <input type="hidden" name="orderId" th:value="${order.id}" />

        <select name="status">
          <option value="Ordered"
                  th:selected="${order.status == 'Ordered'}">Ordered</option>

          <option value="In progress"
                  th:selected="${order.status == 'In progress'}">In progress</option>

          <option value="Shipped"
                  th:selected="${order.status == 'Shipped'}">Shipped</option>

          <option value="Delivered"
                  th:selected="${order.status == 'Delivered'}">Delivered</option>
        </select>

        <button type="submit">Update</button>
      </form>
    </td>
  </tr>
</table>

<a href="/offer/account">Back</a>

</body>
</html>
